In [1]:
str(abs)

'<built-in function abs>'

In [2]:
age=24
print("my age is: ",age)

my age is:  24

In [3]:
print('1234')

1234

In [4]:
## fstring 
age=24
print(f"my age is: {age}")

my age is: 24

## format()
age=24
name= "susheel"
print('my name is {} and age is {}'.format(name,age))

In [14]:
age=24
name="susheel kumar yadav"
degree="btech-chemical engineering"
print("My age is:{} and i have completed degree in: {} with name: {}".format(age,degree.title(),name.title()))

My age is:24 and i have completed degree in: Btech-Chemical Engineering with name: Susheel Kumar Yadav

## control flow
### decision making statements

In [15]:
##if statements
age=18
if age>=18:
    print("u r eligible to vote")

u r eligible to vote

In [16]:
##if statements
age=16
if age>=18:
    print("u r eligible to vote")
else:
    print("not eligible")

not eligible

In [2]:
## for taking input
input("enter ur name")

In [2]:
## for taking input as integer value
int(input("enter age"))

In [32]:
type(age)

int

In [1]:
age=int(input("age"))
if age>=18 and age<=45:

    print("u are young blood")

In [42]:
##if else 
age=int(input("age"))
if age>=18 and age<=45:

    print("u are young blood")
else:
    print("thanku")

age 54

thanku

In [54]:
product_price=int(input("enter product price"))
if product_price>=10000:
    print("product price is {}".format(product_price*0.8))
else:
    print("product price is {} ".format(product_price*0.7))

enter product price 110000

product price is 88000.0

In [55]:
product_price=int(input("enter product price"))
if product_price>=30000:
    print("product price is {}".format(product_price*0.7))
elif product_price>=20000 and product_price<=30000:
    print("product price is {} ".format(product_price*0.8))
else:
    print("product price is {}".format(product_price*0.9))

enter product price 1000

product price is 900.0

## loops
### while loop

In [1]:
total_amount=100000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-10000
else:
    print("contact bank")

100000
90000
80000
70000
60000
50000
40000
30000
20000
10000
contact bank


### for loop

In [3]:
fruit='banana'
for a in fruit:
    print(a)

b
a
n
a
n
a

In [4]:
fruit='banana'
for a in fruit:
    print(a,end='')

banana

In [5]:
fruit='banana'
for i in fruit:
    if i=='n':
        print('letter n in banana')
    print(i)

b
a
letter n in banana
n
a
letter n in banana
n
a

In [6]:
fruit='banana'
for a in fruit:
    if a=='n':
        print('letter n in banana')
        break
    print(a)

b
a
letter n in banana

In [8]:
fruit='banana'
for a in fruit:
    if a=='n':
        print('letter n in banana')
        continue
    print(a)

b
a
letter n in banana
a
letter n in banana
a

In [11]:
fruit[0]

'b'

### nested loop

In [12]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
for i in range(1,10,3):
    print(i)

1
4
7

In [16]:
n=10
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print('\r') ##carriage return

*
**
***
****
*****
******
*******
********
*********
**********

In [17]:
n=10
for i in range(0,n):
    for j in range(0,n-i - 1):
        print(' ',end='')
    for j in range(0,2*i + 1):
        print('*',end='')
    print("\r")

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [18]:
n=10
for i in range(0,n):
    for j in range(0,n-i - 1):
        print(' ',end='')
    for j in range(0,i + 1):
        print('*',end='')
    print("\r")

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [19]:
n=10
for i in range(0,n):
    for j in range(0,i - 1):
        print(' ',end='')
    for j in range(0,i + 1):
        print('*',end='')
    print("\r")

*
**
 ***
  ****
   *****
    ******
     *******
      ********
       *********
        **********